--index-url https://artifactory.intra.infineon.com/artifactory/api/pypi/pypi-pypi-org/simple
## Put the required package here
gprof2dot 			# Required for Profiling
graphviz  			# This package facilitates the creation and rendering of graph descriptions
coverage>=5.3 		# Required for code coverage of Python
pytest>=6.1.1 		# Required for Test Framework
pylint 				# Required for Static Code Analysis / Technical Debt
sphinx 				# Required for Technical Documentation
sphinx-rtd-theme 	# Required for Technical Documentation Theme
pytest-regressions 	# Required for Regression test
pytest-regtest 		# regression test tool
pytest-html 		# Required for test results to generate HTML report
